
html{
  background-color:  #779ECB;
}
body {
  margin: 0;
  padding: 0;
  background-color: #779ECB;
  height: 100vh;
}
#dash .container  {
  margin-top: 30px;

  height: 500px;
  box-shadow: 0px 0px 20px grey;
  background-color: #EAEAEA;
}
#dash .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#dash .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}
#dash .btn-info {
  background-color: #779ECB;
  border-color: #779ECB;
}
#dash .text-info {
  color: #779ECB!important;
}

#cont{
  background-color:  #EAEAEA;
}

.alignRight{
  text-align: right;
}
