html {
  background-color:  #779ECB;
}
body {
  margin: 0;
  padding: 0;
  background-color: #779ECB;
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 30px;
  max-width: 600px;
  height: 358px;
  box-shadow: 0px 0px 20px grey;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;

.ng-valid[required], .ng-valid.required
    border-left: 5px solid #42A948;
}
#login .btn-info {
  background-color: #779ECB;
  border-color: #779ECB;
}
#login .text-info {
  color: #779ECB!important;
}
#passwordShow{
  padding-top: 13px;
  color: #779ECB;
}
